<% include ../partials_admin/header %>

<div class="iris">
    <div class="card transparent z-depth-5">
        <div class="section">
            <div class="container">
                <br><br>
                <h1 class="header center red-text">Baymax Admin</h1>

                <div class="row center">
                    <h5 class="header col s12 light">Welcome to administrator Baymax apps</h5>
                </div>
                <div class="row center">
                    <a href="/admin/disease" id="" class="btn-large waves-effect waves-light orange">Disease</a>
                    <a href="/admin/diagnosis" id="" class="btn-large waves-effect waves-light green darken-2">Diagnosis</a>
                </div>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <br>
            </div>
        </div>
    </div>
</div>


<% include ../partials_admin/footer %>
