</main>
<footer class="page-footer red darken-2">

    <div class="footer-copyright red darken-2">
      <div class="container">
        Desaign By Fire Fox Teams
      </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script type="text/javascript">
$(document).ready(function() {
$('select').material_select();

$('#modal1').modal();
});
</script>

<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
</body>

</html>
