<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Baymax Apps</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="/selectize/css/selectize.legacy.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
  body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
  }
  main {
     flex: 1 0 auto;
  }
  </style>
  </head>
<body>
  <main>
    <nav class="red darken-2" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Baymax Apps</a>
            <ul class="right hide-on-med-and-down">

              <% if(session.name){ %>
              <li>Welcome <%= session.name %></li> <li><a href="/signout">Sign Out</a></li>
              <% }else{ %>
              <li><a href="/users/signin">Sign In</a></li>
              <li><a href="/users/signup">Sign Up</a></li>
              <% } %>

            </ul>
        </div>
    </nav>


    <!-- Modal Structure -->
