<% include ./partials/header %>

                <div class="container">
                    <br><br>

                    <%= JSON.stringify(session.name) %>


                    <h1 class="header center orange-text">Baymax Apps</h1>

                    <div class="row center">
                        <h5 class="header col s12 light">Applications to provide solutions to problems your illness</h5>
                    </div>
                    <div class="row center">
                        <a href="/searchDisease" id="" class="btn-large waves-effect waves-light orange">Search Disease</a>
                        <a href="/searchDiagnosis" id="" class="btn-large waves-effect waves-light green darken-2">Search Diagnosis</a>
                    </div>
                </div>

    <% include ./partials/footer %>
