<% include ./partials/header %>

    <div class="container">
        <h3 class="header center orange-text">Search Result Hospitals</h3>
        <iframe width="900" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAMkW6yzrNnTe0515mtALd3I2jvTaYgq5c
                        &q=record+hospitals+in+<%= location %>" allowfullscreen>
        </iframe>
        <br>
    </div>
<% include ./partials/footer %>
